# Gradle / IDE
.gradle/
build/
out/
run/
runs/
*.iml
.idea/
.vscode/

# Сборки и тяжёлые файлы — только в GitHub Releases
dist/
*.zip
worlds/

# Системное
Thumbs.db
desktop.ini

# Тестовый сервер
server/


# Папки IDE (VS Code / Eclipse) — копии сборки
mod/bin/
mod/.eclipse/
